<div class="container-fluid d-block d-md-none">
    <div class="row">
        <div class="col">
            <span class="otdmug_pagetitle_sm">The Ohio Travel Demand Model User Group</span>
        </div>
    </div>
</div>

<div class="container-fluid d-none d-md-block">
    <div class="row">
        <div class="col">
            <span class="otdmug_pagetitle">The Ohio Travel Demand Model User Group</span>
        </div>
    </div>
</div>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<nav class="navbar navbar-expand bg-body-tertiary">    
    <div class="container-fluid">
        <div class="collapse navbar-collapse otdmug-navbar" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">OTDMUG Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archives.html">Archives</a>
                </li>
            </ul>
        </div>
    </div>
</nav>